
{% load staticfiles %}
<!DOCTYPE html>
 <html>
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="mobile-web-app-capable" content="yes">
    
    <title>TaeHwa-Digital</title>
    <!-- Bootstrap CSS -->
    <!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">  -->
    <!-- apple-touch-icon -->
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img2/favi-bini2.png' %}" width="114" height="114" alt="">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="{% static 'img2/favi-bini2.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/text.css' %}" />
   <!--  <link rel="stylesheet" href="{% static 'css/slogan.css' %}" /> -->
    <script type="text/javascript" src="{% static 'js/prefixfree.min.js' %} "></script>
   
    <!-- Custom Fonts -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/jejuhallasan.css" />
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet"/>
  </head>
  <body>
  
  <header>
    <h1>logo</h1>72
    <ul id="gnb">
      <li><a href="#"><i class="fa fa-header"></i>Hotel</a></li>
      <li><a href="#"><i class="fa fa-building-o"></i>Fucility</a></li>
      <li><a href="#"><i class="fa fa-suitcase"></i>Business</a></li>
      <li><a href="#"><i class="fa fa-cutlery"></i>Restaurant</a></li>  
    </ul>   

    <div class="snsSet">
      <a href="#"><img src="{% static 'img/sns1.png' %}" alt="about" /></a>
      <a href="#"><img src="{% static 'img/sns2.png' %}" alt="contact" /></a>
      <a href="#"><img src="{% static 'img/sns3.png' %}" alt="facebook" /></a>
      <a href="#"><img src="{% static 'img/sns4.png' %}" alt="twitter" /></a>
      <a href="#"><img src="{% static 'img/sns5.png' %}" alt="etc" /></a>
    </div>
  </header>
  
  <!-- <nav>
    <a href="#"><img src="{% static 'img/tutil1.png' %}" alt="" /></a>
    <a href="#"><img src="{% static 'img/util2.png' %}" alt="" /></a>
    <a href="{% url 'user_login' %}"><img src="{% static 'img/login1.png' %}" alt="" /></a>
    <a href="{% url 'user_logout' %}"><img src="{% static 'img/out.png' %}" alt="" /></a>
  </nav> -->



  <section>
    <article> 
     <div class="bg"> 
     <div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <!-- <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul> -->
 
  <!-- The slideshow -->

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'img/slide1.jpg' %}" alt="마른멸치" width="100%" height="520">
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/slide3.jpg' %}" alt="건다시마" width="100%" height="520">
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/slide22.jpg' %}" alt="해풍오징어" width="100%" height="520">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
        <span></span>
    </div> 
    </article>
    
    <article>   
      <div class="txt">

          <svg width="" height="">
  <text x="300" y="125" text-anchor="middle">
    <tspan id="l1">태</tspan>
    <tspan id="l2">화</tspan>
    <tspan id="l3">상</tspan>
    <tspan id="l4">회</tspan>
    </text>
</svg>
      
      </div>  
    </article>
    
    <article>     
      <div class="bg bg5"> 
      
      </div>  
    </article>
    
    <article>
         
     <div class="bg bg2">
        <span>Event</span>
      </div>
    </article>
    
    <article>
      <div class="bg bg3">
        <span>Surf</span>
      </div>  
    </article>
    
    <article> 

   <div class="bg" >   
     
 
       <div class="slogan">
 <h5>취급상품</h5>:
  <ul class="list">
    <li>건새우</li>
    <li>멸치</li>
    <li>마른김</li>
    <li>황태채</li>
    <li>쥐포</li>
  </ul>
</div>
      </div>  
    </article>
    <article>
       <div class="txt">
      <iframe class="embed-responsive-item" style="position: absolute; top: 0; left: 0;" src="https://www.youtube.com/embed/9uy9BAWzdcs?autoplay=1&controls=1&loop=1&playlist=9uy9BAWzdcs&amp;showinfo=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     
       
      </div>
    </article>
    
    <article> 
       <div class="bg bg4">
       
      </div>
       </article>
    
     
    
   
    
 <article>
      <div class="" style="height:300px;
  background-color:green";> 
       {% block content %}
       {% endblock %}   
      </div>  

    </article>
  
         
  
   
  <!-- <div class="waveHorizontals">
  <div id="waveHorizontal1" class="waveHorizontal"></div>
  <div id="waveHorizontal2" class="waveHorizontal"></div>
  <div id="waveHorizontal3" class="waveHorizontal"></div>
 </div> -->
    </section> 
    
  
       
     

  
     
  

       
 





  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>

</html>
